.gifts-page .add-credits, .private-events-page .add-credits, .contact-page .add-credits, .gifts-page .total, .private-events-page .total, .contact-page .total, .sign-up-page .signup-block .open-id, .sign-up-page .login-block .open-id, .login-page .signup-block .open-id, .login-page .login-block .open-id, .sign-up-page .member-info .row .left, .private-events-page .what-we-can-do .row .block .title {
  font-family: "museo-sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px; }

.private-events-page .markets .col-2 .row .col ul {
  margin: 0;
  padding: 0; }

.gifts-page .amount:after, .private-events-page .amount:after, .contact-page .amount:after, .form-item.last-name:after, .slide-legend:after, .sign-up-page .signup-block .open-id .button:after, .sign-up-page .login-block .open-id .button:after, .login-page .signup-block .open-id .button:after, .login-page .login-block .open-id .button:after, .sign-up-page .member-info .row .right:after, .private-events-page .markets .col-2 .row:after {
  content: '';
  display: block;
  clear: both; }

.gifts-page .amount .ctrl, .private-events-page .amount .ctrl, .contact-page .amount .ctrl {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.main {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -ms-background-size: cover !important;
  background-size: cover !important; }

.main {
  background: #000000 url("/_/images/bg/signup.jpg") center bottom no-repeat; }

#gift {
  min-height: 500px; }

.gifts-page .inner, .private-events-page .inner, .contact-page .inner {
  position: relative;
  width: 800px;
  min-height: 700px; }
@media only screen and (max-width: 768px) {
  .gifts-page .inner, .private-events-page .inner, .contact-page .inner {
    width: 93%; } }
.gifts-page h1, .private-events-page h1, .contact-page h1 {
  padding: 50px 0;
  text-align: center; }
.gifts-page h3, .private-events-page h3, .contact-page h3 {
  margin-top: 0; }
.gifts-page .main, .private-events-page .main, .contact-page .main {
  padding: 90px 0;
  color: #ffffff; }
@media only screen and (max-width: 768px) {
  .gifts-page .main, .private-events-page .main, .contact-page .main {
    padding: 0; } }
.gifts-page .copy-block, .private-events-page .copy-block, .contact-page .copy-block {
  width: 351px; }
@media only screen and (max-width: 768px) {
  .gifts-page .copy-block, .private-events-page .copy-block, .contact-page .copy-block {
    width: 100%; } }
.gifts-page .form-block, .private-events-page .form-block, .contact-page .form-block {
  width: 341px;
  display: block;
  float: right;
  position: absolute;
  right: 0;
  top: 180px;
  -webkit-transition: margin-bottom 0.2s ease-in-out;
  -moz-transition: margin-bottom 0.2s ease-in-out;
  transition: margin-bottom 0.2s ease-in-out; }
@media only screen and (max-width: 768px) {
  .gifts-page .form-block, .private-events-page .form-block, .contact-page .form-block {
    width: 100%;
    position: relative;
    top: auto;
    float: none; } }
.gifts-page .form-block span.sub-copy, .private-events-page .form-block span.sub-copy, .contact-page .form-block span.sub-copy {
  padding: 10px;
  display: block; }
.gifts-page .add-credits, .private-events-page .add-credits, .contact-page .add-credits {
  font-size: 13px;
  padding-top: 20px;
  text-transform: none; }
.gifts-page .amount, .private-events-page .amount, .contact-page .amount {
  position: relative;
  width: 175px; }
.gifts-page .amount .dollar, .private-events-page .amount .dollar, .contact-page .amount .dollar {
  position: absolute;
  top: 7px;
  left: 66px; }
.gifts-page .amount input, .private-events-page .amount input, .contact-page .amount input {
  width: 75px;
  padding: 10px 0 10px 34px;
  margin: 0 15px; }
.gifts-page .amount input:focus, .private-events-page .amount input:focus, .contact-page .amount input:focus {
  background: transparent;
  color: #ffffff; }
.gifts-page .amount .ctrl, .private-events-page .amount .ctrl, .contact-page .amount .ctrl {
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: block;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  font-size: 24px;
  position: relative;
  top: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
.gifts-page .amount .ctrl:hover, .private-events-page .amount .ctrl:hover, .contact-page .amount .ctrl:hover {
  background: #ffffff;
  color: #000000; }
.gifts-page .amount .ctrl.less, .private-events-page .amount .ctrl.less, .contact-page .amount .ctrl.less {
  float: left; }
.gifts-page .amount .ctrl.more, .private-events-page .amount .ctrl.more, .contact-page .amount .ctrl.more {
  right: 10px;
  position: absolute; }
.gifts-page .credits label, .private-events-page .credits label, .contact-page .credits label {
  display: inline; }
.gifts-page .credits input, .private-events-page .credits input, .contact-page .credits input {
  margin: 4px 10px 0 0;
  display: block;
  float: left; }
.gifts-page .total, .private-events-page .total, .contact-page .total {
  font-size: 18px;
  font-weight: 900;
  margin: 30px 0 26px 0; }

.login-page .main {
  min-height: 600px; }
.login-page .main .confirm {
  display: none; }
.login-page .main form#reset {
  display: none; }
.login-page .main form span {
  cursor: pointer;
  padding: 20px 0 0 0;
  font-size: 16px;
  display: block; }
.login-page .main form span:hover {
  text-decoration: underline; }

.form-item.first-name {
  width: 48.7%;
  float: left; }
.form-item.last-name {
  width: 48.7%;
  float: right; }
.form-item.email {
  clear: both; }

.terms {
  text-align: left; }

.slide-legend {
  font-size: 14px; }
.slide-legend span {
  display: block;
  float: left;
  width: 12.5%; }
.slide-legend span.active {
  color: #e68964; }

.sign-up-page .signup-block, .sign-up-page .login-block, .login-page .signup-block, .login-page .login-block {
  width: 400px;
  margin: 162px auto 90px auto;
  text-align: center;
  color: #ffffff;
  position: relative; }
html.mobile .sign-up-page .signup-block, html.mobile .sign-up-page .login-block, html.mobile .login-page .signup-block, html.mobile .login-page .login-block {
  margin-top: 102px;
  width: 92%; }
.sign-up-page .signup-block form, .sign-up-page .login-block form, .login-page .signup-block form, .login-page .login-block form {
  color: #ffffff; }
.sign-up-page .signup-block form h1, .sign-up-page .login-block form h1, .login-page .signup-block form h1, .login-page .login-block form h1 {
  text-align: center;
  margin: 0 0 50px 0;
  font-size: 35px; }
.sign-up-page .signup-block form p, .sign-up-page .login-block form p, .login-page .signup-block form p, .login-page .login-block form p {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 14px;
  font-weight: normal; }
.sign-up-page .signup-block form p a, .sign-up-page .login-block form p a, .login-page .signup-block form p a, .login-page .login-block form p a {
  color: white;
  text-decoration: underline; }
.sign-up-page .signup-block form p a:hover, .sign-up-page .login-block form p a:hover, .login-page .signup-block form p a:hover, .login-page .login-block form p a:hover {
  text-decoration: none; }
.sign-up-page .signup-block .login, .sign-up-page .login-block .login, .login-page .signup-block .login, .login-page .login-block .login {
  font-style: italic;
  letter-spacing: 1px;
  padding: 14px 0 0 0; }
.sign-up-page .signup-block .login a, .sign-up-page .login-block .login a, .login-page .signup-block .login a, .login-page .login-block .login a {
  color: #ffffff;
  text-decoration: none; }
.sign-up-page .signup-block .login a:hover, .sign-up-page .login-block .login a:hover, .login-page .signup-block .login a:hover, .login-page .login-block .login a:hover {
  text-decoration: underline; }
.sign-up-page .signup-block .open-id, .sign-up-page .login-block .open-id, .login-page .signup-block .open-id, .login-page .login-block .open-id {
  font-size: 13px; }
.sign-up-page .signup-block .open-id .or, .sign-up-page .login-block .open-id .or, .login-page .signup-block .open-id .or, .login-page .login-block .open-id .or {
  background: url("/_/images/signup-lines.png") center center no-repeat;
  padding: 30px 0; }
.sign-up-page .signup-block .open-id .button, .sign-up-page .login-block .open-id .button, .login-page .signup-block .open-id .button, .login-page .login-block .open-id .button {
  height: 34px;
  overflow: hidden;
  margin: 0 0 25px 0;
  cursor: pointer; }
.sign-up-page .signup-block .open-id .button:hover .phrase, .sign-up-page .signup-block .open-id .button:focus .phrase, .sign-up-page .login-block .open-id .button:hover .phrase, .sign-up-page .login-block .open-id .button:focus .phrase, .login-page .signup-block .open-id .button:hover .phrase, .login-page .signup-block .open-id .button:focus .phrase, .login-page .login-block .open-id .button:hover .phrase, .login-page .login-block .open-id .button:focus .phrase {
  background: transparent !important; }
.sign-up-page .signup-block .open-id .button .icon, .sign-up-page .login-block .open-id .button .icon, .login-page .signup-block .open-id .button .icon, .login-page .login-block .open-id .button .icon {
  width: 16%;
  float: left;
  padding: 2px 0; }
.sign-up-page .signup-block .open-id .button .phrase, .sign-up-page .login-block .open-id .button .phrase, .login-page .signup-block .open-id .button .phrase, .login-page .login-block .open-id .button .phrase {
  width: 84%;
  float: right;
  background: blue;
  height: 34px;
  line-height: 34px;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out; }
.sign-up-page .signup-block .open-id .button.facebook-signup, .sign-up-page .login-block .open-id .button.facebook-signup, .login-page .signup-block .open-id .button.facebook-signup, .login-page .login-block .open-id .button.facebook-signup {
  background: #354f88; }
.sign-up-page .signup-block .open-id .button.facebook-signup .phrase, .sign-up-page .login-block .open-id .button.facebook-signup .phrase, .login-page .signup-block .open-id .button.facebook-signup .phrase, .login-page .login-block .open-id .button.facebook-signup .phrase {
  background: #3b5998; }
.sign-up-page .signup-block .open-id .button.twitter-signup, .sign-up-page .login-block .open-id .button.twitter-signup, .login-page .signup-block .open-id .button.twitter-signup, .login-page .login-block .open-id .button.twitter-signup {
  background: #40a2d1; }
.sign-up-page .signup-block .open-id .button.twitter-signup .phrase, .sign-up-page .login-block .open-id .button.twitter-signup .phrase, .login-page .signup-block .open-id .button.twitter-signup .phrase, .login-page .login-block .open-id .button.twitter-signup .phrase {
  background: #45b0e3; }
.sign-up-page .signup-block .open-id svg, .sign-up-page .login-block .open-id svg, .login-page .signup-block .open-id svg, .login-page .login-block .open-id svg {
  fill: #ffffff;
  height: 24px;
  margin: 3px 0 0 0; }
.sign-up-page .signup-block, .login-page .signup-block {
  margin-top: 0; }

#sign-up input[type="submit"] {
  width: 100%; }

.intro {
  color: #ffffff;
  width: 770px;
  max-width: 100%;
  margin: 140px auto 70px auto;
  font-size: 18px;
  text-align: center; }
html.mobile .intro {
  margin: 70px auto 0 auto; }

.sign-up-page .signup-block {
  margin-top: 0; }
html.mobile .sign-up-page .signup-block {
  margin-top: 0; }
.sign-up-page .member-info {
  text-align: left; }
.sign-up-page .member-info .info, .sign-up-page .member-info form {
  margin: 20px 0 0 0; }
.sign-up-page .member-info .row {
  clear: both;
  margin: 0 0 8px 0;
  height: 22px;
  font-size: 17px; }
.sign-up-page .member-info .row div {
  float: left; }
.sign-up-page .member-info .row .left {
  font-size: 15px;
  font-weight: 700;
  text-transform: none;
  width: 30%; }
.sign-up-page .member-info .row .right {
  width: 70%; }
.sign-up-page h3 {
  font-weight: 900;
  margin: 10px 0;
  display: block; }
.sign-up-page h3 span {
  cursor: pointer;
  font-family: Georgia, Times, "Times New Roman", serif;
  text-transform: none;
  float: right;
  font-weight: normal;
  font-size: 16px; }
.sign-up-page .credit-card {
  margin: 80px 0 0 0; }

.private-events-page .main > .inner {
  width: 750px; }
@media only screen and (max-width: 768px) {
  .private-events-page .main > .inner {
    width: 93%; } }
.private-events-page .inner {
  min-height: inherit;
  width: 1200px; }
@media only screen and (max-width: 768px) {
  .private-events-page .inner {
    width: 93%; } }
.private-events-page .what-we-can-do {
  background: #ffffff;
  color: #000000;
  padding: 0 0 90px 0; }
.private-events-page .what-we-can-do .row {
  margin: 0 auto 50px auto;
  width: 86%; }
@media only screen and (max-width: 768px) {
  .private-events-page .what-we-can-do .row {
    width: 93%; } }
.private-events-page .what-we-can-do .row .block {
  text-align: center; }
@media only screen and (max-width: 768px) {
  .private-events-page .what-we-can-do .row .block {
    width: 100%; } }
.private-events-page .what-we-can-do .row .block .title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 20px 0; }
.private-events-page .what-we-can-do .row .block p {
  font-size: 18px;
  padding: 0 40px; }
.private-events-page .markets {
  text-align: center;
  background: #E7E7E7;
  padding: 0 0 60px 0;
  border: #ececec solid 1px;
  border-left: none;
  border-radius: none;
  color: #000000; }
.private-events-page .markets h3 {
  font-weight: 900; }
.private-events-page .markets .map {
  width: 600px;
  height: 440px;
  float: right;
  margin: 30px 0 0 0; }
@media only screen and (max-width: 768px) {
  .private-events-page .markets .map {
    display: none; } }
.private-events-page .markets .map .jvectormap-zoomin, .private-events-page .markets .map .jvectormap-zoomout {
  display: none; }
.private-events-page .markets .map #map svg {
  width: 600px;
  height: 440px; }
.private-events-page .markets .map path.US-AK, .private-events-page .markets .map path.US-HI {
  display: none; }
.private-events-page .markets .col-2 {
  width: 45%;
  float: left;
  clear: none; }
@media only screen and (max-width: 768px) {
  .private-events-page .markets .col-2 {
    width: 100%; } }
@media only screen and (max-width: 768px) {
  .private-events-page .markets .col-2 .block {
    width: 100%; } }
.private-events-page .markets .col-2 .row {
  margin: 30px 0; }
@media only screen and (max-width: 768px) {
  .private-events-page .markets .col-2 .row {
    width: 100%; } }
.private-events-page .markets .col-2 .row .col {
  width: 80%;
  float: none;
  margin: 0 auto; }
@media only screen and (max-width: 768px) {
  .private-events-page .markets .col-2 .row .col {
    width: 100%; } }
.private-events-page .markets .col-2 .row .col .block-2 {
  float: right; }
.private-events-page .markets .col-2 .row .col .col {
  width: 100%; }
.private-events-page .markets .col-2 .row .col ul li {
  list-style: none;
  font-size: 15px;
  line-height: 1.8; }

/*# sourceMappingURL=forms.css.map */
